<div class="row mt-3">
    <div class="col d-flex justify-content-between align-items-center">
        <h4>Countries</h4>
        <button type="button" class="btn btn-info btn-sm" [routerLink]="['/settings']">
          Settings
        </button>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="list-group mt-3 d-flex justify-content-between align-items-center">
            <a *ngFor="let i of countryList" 
            class="list-group-item list-group-item-action" (click)="gotoNews(i.code)">
            {{ i.name }} <img src="{{ i.flag }}" class="img-thumbnail" style="width: 10%;">
            </a>
        </div>
    </div>
</div>

<!-- [routerLink]="['/search', s.genre, s.q ]" -->
